{% extends 'base.html.twig' %}

{% block body %}
    <p>Hi {{ app.user.email }}</p>
    <p><a href="{{ path('logout') }}">Logout</a></p>
    <p><a href="{{ path('change_password') }}">Change Password</a></p>
{% endblock %}

{% block stylesheets %}
{% endblock %}
